# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

public/avatars/*
!public/avatars/.gitkeep
!public/avatars/seeded_profile_aardwolf.png
!public/avatars/seeded_profile_flamink.png
!public/avatars/seeded_profile_renoster.png
!public/avatars/seeded_profile_vaalboskat.png
!public/avatars/seeded_profile_wildsbok.png
!public/avatars/tmp_default_avatar.png
