@import './normalize.css';

:root {
	--c-white: #ffffff;
	--c-white-soft: #f0f0f0;
	--c-white-mute: #e0e0e0;

	--c-black-full: #000000;
	--c-black: #181818;
	--c-black-soft: #222222;
	--c-black-mute: #282828;

	--c-divider-dark-1: var(--c-black);
	--c-divider-dark-2: var(--c-black-soft);

	--c-text-light-1: var(--c-black);
	--c-text-light-2: var(--c-black-soft);

	--c-online: #00ff36;
	--c-offline: #e11d25;
}

:root {
	--color-background: var(--c-white);
	--color-background-soft: var(--c-white-soft);
	--color-background-mute: var(--c-white-mute);

	--color-border: var(--c-divider-dark-2);
	--color-border-hover: var(--c-divider-dark-1);

	--color-heading: var(--c-text-light-1);
	--color-text: var(--c-text-light-1);

	--border-width: 0.0625em;

	--single-spacing: 0.7em;
	--double-spacing: 1.4em;

	--ball-line: 0.1em;
	--ball-size: 0.75em;

	--paddle-width: 0.38em;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/fonts/subset-SourceSansPro-Italic.woff2') format('woff2'),
		url('/fonts/subset-SourceSansPro-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/fonts/subset-SourceSansPro-BoldItalic.woff2') format('woff2'),
		url('/fonts/subset-SourceSansPro-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/fonts/subset-SourceSansPro-Bold.woff2') format('woff2'),
		url('/fonts/subset-SourceSansPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/fonts/subset-SourceSansPro-Regular.woff2') format('woff2'),
		url('/fonts/subset-SourceSansPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/*
	from "slightly better box sizing"
	https: //css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	box-sizing: content-box;
}

p {
	margin-block-start: 0;
}

body {
	min-height: 100vh;
	color: var(--color-text);
	background: var(--color-background);
	transition: color 0.5s, background-color 0.5s;
	font-family: 'Source Sans Pro', Inter, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 18px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
