@import './base.css';

#app {
	min-width: 100vw;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: var(--color-text);
	font-style: italic;
	transition: 0.4s;
}

.page_box_wrapper {
	position: relative;
	aspect-ratio: 5/4;
	max-width: 90vw;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
}

.page_box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	flex-wrap: wrap;
	padding: 1em 2em;
	overflow: scroll;
	border: 1px solid black;
	height: 100%;
}

.page_button {
	position: absolute;
	z-index: 50;
	right: 0;
	top: 0;
	transform: translate(50%,-50%);
}

.pb_bottom {
	top: auto;
	bottom: 0;
	transform: translate(50%, 50%);
}

.page_button a {
	padding: 1.5em;
	border: var(--border-width) solid var(--color-border);
	border-radius: 50%;
	aspect-ratio: 1/1;
	background: var(--color-background);
	line-height: 1.8;
	display: block;
}


p {
	margin-bottom: 1em;
}

/* assuming h1 usage within flexbox scope */
h1 {
	text-align: center;
}

.form_group {

}

.field_group {
	flex-basis: 100%;
	margin-bottom: 0.7em;
}

.field_group label {
	display: block;
	padding: 0.2em 0 0.3em;
}

.field_group input {
	border-width: var(--border-width) var(--border-width) var(--border-width) var(--paddle-width);
	border-color: var(--color-border);
	padding: 0.7em 1em;
}

.field_group input:disabled {
	border-top-width: 0;
	border-bottom-width: 0;
	border-right-width: 0;
	color: var(--c-black-mute);
	font-style: italic;
}

.c_media {
	--media-size-w: 4em;
	--media-size-h: var(--media-size-w);
	display: flex;
	align-items: center;
	margin-bottom: 0.7em;
}

.c_media__asset {
	margin-right: 1.2em;
}

.c_asset__circle {
	border-radius: 50%;
	width: var(--media-size-w);
	height: var(--media-size-h);
	overflow: hidden;
	position: relative;
}

.c_asset__circle::after {
	content: "";
	padding-top: 100%;
	display: block;
	background-color: grey;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.c_asset__circle img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}


@media (hover: hover) {
	a:hover {
		text-decoration: underline;
	}
}

@media (min-width: 600px) {
	.page_box_wrapper {
		max-height: 80vh;
	}
}

@media (min-width: 900px) {
	.page_box_wrapper {
		margin-top: 3em;
		max-height: 80vh;
	}
}

@media (min-width: 600px) and (max-height: 700px) {
	.page_box_wrapper {
		margin-top: 2em;
		max-height: 70vh;
	}
}
