@import './base.css';

#app {
	min-width: 100vw;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: var(--color-text);
	font-style: italic;
	transition: 0.4s;
}

.page_box {
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	aspect-ratio: 5/4;
	max-width: 90vw;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 2em;
	overflow: scroll;
	border: 1px solid black;
}

p {
	margin-bottom: 1em;
}

@media (hover: hover) {
	a:hover {
		text-decoration: underline;
	}
}

@media (min-width: 600px) {
	.page_box {
		max-height: 80vh;
	}
}

@media (min-width: 900px) {
	.page_box {
		margin-top: 3em;
		max-height: 80vh;
	}
}

@media (min-width: 600px) and (max-height: 700px) {
	.page_box {
		margin-top: 2em;
		max-height: 70vh;
	}
}
