@import './base.css';

#app {
	min-width: 100vw;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: var(--color-text);
	font-style: italic;
	transition: 0.4s;
}

.page_box_wrapper {
	margin: 2em auto 0 auto;
	padding: 0 10vw;
	position: relative;
}

.page_box {
	border: 1px solid black;
	height: 70vh;
	overflow: scroll;
	padding: 1em 2em;
	position: relative;
	display: flex;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;
}

p {
	margin-bottom: 1em;
}

/* assuming h1 usage within flexbox scope */
h1 {
	flex-basis: 100%;
	text-align: center;
}

.form_group {

}

.field_group {
	flex-basis: 100%;
	margin-bottom: 0.7em;
}

.field_group label {
	display: block;
	padding: 0.2em 0 0.3em;
}

.field_group input {
	border-width: var(--border-width) var(--border-width) var(--border-width) var(--paddle-width);
	border-color: var(--color-border);
	padding: 0.7em 1em;
}

.field_group input:disabled {
	border-top-width: 0;
	border-bottom-width: 0;
	border-right-width: 0;
	color: var(--c-black-mute);
	font-style: italic;
}

@media (hover: hover) {
	a:hover {
		text-decoration: underline;
	}
}

@media (min-width: 600px) {
	.page_box {
		height: 80vh;
	}
}

@media (min-width: 900px) {
	.page_box {
		margin-top: 3em;
		height: 80vh;
	}
}

@media (min-width: 600px) and (max-height: 700px) {
	.page_box {
		height: 75vh;
	}
}
